.header{
  width: 100%;
  position: fixed;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-image: url("/bg/bg-header.jpg");
}
.title-name{
  color: #45474B;
  font-size: 30px;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 20px;
}
.navbar{
  display: flex;
  justify-content: space-between;
}
.navbar-wrapper{
  padding-top: 20px;
  padding-right: 20px;
}
.navbar-wrapper a{
  text-decoration: none;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #96B6C5;
}
.navbar-wrapper a:hover{
  background-color: #fff;
  color: #45474B;
  border-radius: 20px;
}